.hero-header{
    background-image: url('img/headerimage.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
}
.background{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(6,5,84,0) 17%, rgba(255,64,0,0.47055917093399857) 100%);
}