.hero-header{
    background-image: url('img/headerimage.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
}
<iframe width="951" height="535" src="https://www.youtube.com/embed/FSx_z1tmFZo?list=PLZJlcaSo6RST32JWhFe4TAcck5_VUloOD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>